
.Link{
    width: 100%;
  text-decoration: none;
  color: rgb(2, 83, 115);
}
  .menubar{
    width: 100%;
    background-color: rgb(232, 200, 172);
    display: inline-flex;
    align-items: center;
    
    
}
.accountlogo{
    width: 30px;
    height:30px;
    margin-right: 20px;
    cursor: pointer;
}
.accountdrop{
    position:absolute;
    top: 0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(232, 200, 172);
   width: 100%;
    z-index: 80;

}
.close{
    position:absolute;
    top: 0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(232, 200, 172);
   width: 100%;
   

}
.accountshow-div{
width: 400px;
height: 500px;
margin: auto;
top: 50px;
position: relative;
box-shadow: -1px 10px 30px 0px   rgba(0, 255, 255, 0.349) ;
}
.accountshow-div .div1{
    width: 100%;
    display: flex;
    }
 .register{
    background-color: aqua;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 10px;
    transition: 1s;
}
.register:hover{
    background-color: white;
    color: rgb(1, 83, 83);
    font-weight: bold;
    cursor: pointer;
}


.register-form{
    width: 100%;
    height: 450px;
    text-align: center;

}
.register-form input{
    width: 80%;
    padding: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0px;
    border-bottom: 1px solid saddlebrown;
    background: transparent;
   
}
.regbutton{
    background: aqua;
    background-color: aqua;
}

.login-form{
    width: 100%;
    height: 450px;
    text-align: center;
    
}
.login-form input{
    width: 80%;
    padding: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0px;
    border-bottom: 1px solid saddlebrown;
    background: transparent;
}
.menu-div{
    width: 70%;

}
.logo-div{
    width: 30%;
    text-align: end;
    display: inline-flex;
    align-items: center;
justify-content: center;
}
.logo-div p {
    margin-right: 10px;
}
.menubar ul{
    list-style-type: none;
    background-color: rgb(232, 200, 172);
    margin: 0px;
}
.menubar ul li{
display: inline-flex;
padding: 20px;
transition: 2s;
}
.menubar ul li:hover{
    color: rgb(236, 7, 7);
    background-color: aliceblue;
}


.slider{
   
    width: 100%;
    height: 400px;
}
.mslider{
   
    width: 90%;
    height: 100px;
    margin-top: 30px;
    background-color: blanchedalmond;
    margin-bottom: 30px;
    padding: 30px;
    margin: auto;
}

p{
    margin: 0px;
    padding: 0px;
   
}
.main-div-product{
    display:flexbox;      
    padding: 20px;
    position: relative;   

}

.product-div{
    width: 19.5%;
    height: 500px;
    margin-top: 3%;
    margin-left: 2%;
    cursor: pointer;
    padding: 20px;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
}
.product-div:hover{
    box-shadow: 0px 2px 3px 1px  rgb(219, 223, 226);
   
}
.product-div .image{
    width: 100%;
    height: 70%;
    
    
}
.product-div .product{
    width: 100%;
    height: 30%;
    
}
.product-name{
    line-height: 20px;
    height: 42px; 
    overflow: hidden;
}
.product .product-name{
    width: 100%;
    margin: 0px;
    
}
.product .product-rate{
    width: 100%;  
 margin: 0px;
}
.product .product-rate p{
    width: 50%;
    text-align: center;
}
.product-detail{
    width: 100%;
   display: inline-flex;

}
 .product-detail-addtocart {
    width: 50%;
   text-align: center;
}

.product-detail-show {
    width: 50%;
    text-align: center;
}
.rating{
    display: inline-flex;
    align-items: center;
}


/* details product css  */

.details{
    width: 100%;
    height: 500px;
    display: inline-flex;
    background-color: rgb(239, 237, 236);
}

.details-image{
    width: 50%;
    height: 100%;
    position: relative;
    display: inline-flex;
   
}

.details-image-show{
    width: 10%;
    height: 100%;
   top:5%;
    position: relative;
    left: 2%;

   
    
}
.details-image-show div{
    width: 75%;
    height: 43px;
   
    position: relative;
    margin-top: 10px;
    left: 10%;
    border: 1px solid  rgb(153, 154, 153);
    border-radius: 2px;
}
.details-image-show div img{
    border-radius: 2px;
   
    width:100%;
    height:100%
}
.details-image-inner{
    width: 80%;
    height: 96%;
    background-color: rgb(1, 122, 133);
    position: relative;
    left: 5%;
    top:2%
}
.details-info{
    width: 48%;
    height: 96%;
    padding: 10px;
    display: inline-flex;
    background-color: rgb(249, 249, 249);
}
.details-info div{
    width: 50%;
    padding: 20px;
    background-color: aqua;
   
}
.details-info div *{
    padding: 0px;
    margin: 0px;
}
.details-info div .details-product-info{
    width: 100%;
    border-top: 1px solid salmon ;
    padding-top:10px ;
    padding-bottom:10px ;
    
}.details-info div .details-product-info div{
    display: inline-flex;
    width: 100%;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: aqua;
}
.copy-right{
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;

}
.copy-right h3{
    margin: 0px;
    color: white;
    padding: 20px;
}

/* add to cart*/
.addtocart-div{
    width: 100%;
}
table{border: 1px solid black;width: 100%;}
table tr th{
    border: 1px solid black
}
table th,td{text-align: justify;font-size: 15px;}
.cartimage{
    width: 70px;
    height: 70px;
}
.adddelete{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.addtd{
    text-align: center;
}
.addpayamount{
    background-color: brown;
    color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.cartempty{
    width: 40%;
    position: relative;
    margin: auto;
    margin-top: 100px;
}